* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

.clearfix::after {
    content:'';
    display: table;
    clear: both;
}

a {
    text-decoration-line: none;
}

body {
    font-family: whitney, Helvetica, Neue,
    Helvetica, Arial, sans-serif;
    font-size: 20px;
    color: #23272a;
}

header{
    background-color: rgba(49, 97, 224, 255);
}

nav {
    width: 90%;
    margin: 0 auto;
    padding-top: 20px;
    line-height: 60px;
}

.logo, ul {
    float:left
}

.logo img {
    vertical-align: middle;
} 

ul {
    list-style-type: none;
    position: relative;
    left:25%;
}

li {
    display: inline-block;
    vertical-align: middle;
    padding: 0 20px;
}

li a {
    
    color: white;
    text-decoration: none;
    vertical-align: middle;
}

.under:hover {
    border-bottom: 1px white solid;
}

#accedi {
    float: right;
    color:#23272a;
}

.btn {
    background-color: white;
    border-radius: 40px;
    padding:10px 14px;
    font-size: 14px;
    display: inline;
    color:#23272a;
}

.btn:hover {
    color:white;
    background-color: #23272a;
}

#pho-princ img {
    width: 100%;
    position: relative;
}
#testo {
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
h1 {
    text-align: center;
    color: white;
    padding-bottom: 20px;
    font-size: 40px;
}

p {
    text-align: center;
    color: white;
    padding-bottom: 15px;
}

#arrow{
 font-size: 20px;
}

#mac {
    display: inline-block;
    padding-left:200px;
    padding-right:20px;
}

#browser {
    display: inline-block;
}

#browser .btn {
    background-color:#23272a;
    color: white;
}

#browser .btn:hover {
    color:#23272a;
    background-color: white;
}

.even {
    padding-top: 100px;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 100px;
}

.even img {
    float: left;
}

h2 {
    font-size: 50px;
    padding-bottom: 20px;
}

.even .mini-testo {
    float: left;
    padding-left: 50px;
    padding-top:40px;
    width: 34%;
}

.mini-testo p {
    color: #23272a;
    text-align: left;
}

.odd {
    width: 80%;
    margin: 0 auto;
    background-color: #efefef;
}

.odd img {
    color: gray;
}

.odd img {
    float: right;
    padding-left: 50px;
}

.odd .mini-testo {
    float: right;

    padding-top:40px;
    width: 34%;
}

.mini-testo p {
    color: #23272a;
    text-align: left;
}

.gray {
    background-color:#efefef;
}

#wave2{
    transform: rotate(180deg);
}

#wave1 {
    margin-bottom: -5px;
}

#last-part {
    padding-top: 100px;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 100px;
    text-align: center;
}

#last-part p {
    text-align: center;
}

#last {
    font-size: 27px;
    background-image: url(./img/stars.svg);
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 25px;
}

.gray .btn {
    background-color: #9788e1;
    color:white;
}

.gray .btn:hover {
    background-color: white;
    color:#9788e1;
}

footer {
    background-color: #23272a;
}

.macromenu {
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
}

.fir-col h2 {
    color: #9788e1;
    font-size: 30px;
}

.fir-col {
    float: left;
    width: 20%;
}

p img {
    height: 15px;
}

.left {
    float: left;
    width: 51%;
}

.freccia {
    bottom: 10px;
    position: relative;
    font-size: 35px;
}

i {
    padding-left: 5px;
    padding-right: 5px;
}

.menu-col {
    list-style: none;
    color: white;
    float: left;
    padding: 0 30px;
}



.menu-col li {
    display: block;
    padding: 5px 14px;
}

.purple {
    color: #9788e1;
}

.last-part {
    width: 80%;
    margin: 0 auto;
}

.last-part .logo {
    padding: 20px;
}

#registrati {
    padding-top: 20px;
}

#registrati .btn {
    background-color: #9788e1;
    color:white;
    float: right;
}

#registrati .btn:hover {
    background-color: white;
    color:#9788e1;
}